
<div *ngIf="showNavbarAndFooter"> 
  <nav class="navbar navbar-expand-sm bg-body-tertiary fixed-top shadow">  <!--crear un navbar por medio de bootstrap-->
    <div class="container-fluid ">      <!--contenedor del navbar-->
      <a class="navbar-brand" routerLink="/">
        <img src="assets/Images/LogoZapatoca.png" alt="LogoFruver" width="150px">     <!--imagen del logo del fruver-->
      </a>
      <!--se crea un boton para los elementos del navbar para hacerlo responsive-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
        <ul class="navbar-nav  mb-2 mb-lg-0" >  <!--lista de opciones para agregar al navbar-->
          <li class="nav-item">
            <a class="nav-link text-success me-4" routerLink="/">   <!--Elemento de la lista de opciones del navbar -->
                <h2>
                    Inicio
                </h2>
            </a>
          </li>
          <li class="nav-item ">        <!--Elemento de la lista de opciones del navbar -->
            <a class="nav-link text-success me-4" routerLink="/menu">
                <h2>
                    Menu
                </h2>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a routerLink="/login">
                <button class="btn btn-success">        <!--opcion del navbar para cerrar sesion-->
                    Cerrar Sesion
                </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<!--boton de alerta flotante-->
<div class="buttonsNetwork d-flex">
  <a class="buttonsNetwork_list" href="#" data-bs-toggle="modal" data-bs-target="#alertModal">
    <i class="" aria-hidden="true">
      <img src="assets/Images/despertador.png" alt="Icono de Alerta">
    </i>
    <p class="socialMediaP justify-content-center"> ¡Mira tus alertas! </p>
  </a>
</div>

<!-- Modal de Alertas -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertModalLabel">Alertas de Rotación de Inventario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Mostrar alertas dinámicas -->
        <ul *ngIf="productosProximosARotar.length > 0; else sinAlertas">
          <li *ngFor="let producto of productosProximosARotar">
            <h3>{{ producto.mensaje }}</h3>
          </li>
        </ul>
        <!-- Mensaje si no hay alertas -->
        <ng-template #sinAlertas>
          <p>No hay productos próximos a rotar en los próximos 4 días.</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showNavbarAndFooter">
  <!--inicio del footer-->
  <footer class="bg-dark text-white  pt-5 pb-4">  <!--estilos para textos y contenedores-->
    <div class="container text-center text-md-left">  <!--contenedor del footer-->
      <div class="row text-center text-md-left">    <!--columna para los autores-->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3"> <!--columna para los autores-->
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
            Autores 
          </h5>
          <p>Oscar David Moreno Cote </p>
          <p>Nicolas Sarmiento Gómez</p>
          <p>Jhon Mario Almendrales Carreño</p>
        </div>
  
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3"> <!--columna para los contactos-->
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
            Contactos
          </h5>
          <p>WhatsApp: 322 259 2280</p>
          <p>Correo: omoreo7&#64;udi.edu.co</p>
        </div>
  
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">   <!--columna para las dirrecciones-->
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
            Dirrección
          </h5>
          <p> UDI: Calle 9 No. 23-55-Bucaramanga</p>
          <p>Cll 204a #38a-27-Floridablanca</p>
        </div>
  
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">   <!--columna para las redes sociales-->
          <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
            Siguenos
          </h5>
          <p> <img src="assets/Images/instagram.png" alt="logoInstagram">oscar_cotte7</p>
          <p><img src="assets/Images/instagram.png" alt="logoInstagram">udi_oficial</p>
        </div>
        <div class="row  align-items-center">   <!--fila para agregar el copyright-->
          <div class="col-md-7 col-lg-8">   <!--columna para agrefar el copyright-->
            <p>Copyright ©2024 All rights reserved by:
                <strong class="text-warning">   <!--texto para resaltar-->
                  TheCotte
                </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  

