<body class="bg-image7">
    <div class="espaciadoDiv2"></div>

    <!--Texto de bienvenida-->
    <div class=" d-flex  align-items-center mt-5 text-black card shadow-sm opacity-75 alturaContenedor">  <!--Contenedor con estilos -->
        <div class="card-body justify-content-center opacity-100">  <!--div para agregar el mensaje de bienvenida-->
            <h1 class="text-center">
                Bienvenido a Historial
            </h1>
            <h1 class="text-center">
                de Inventario 
            </h1>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="bg-light row">  <!--contenedor principal para agregar las tablas-->
        <div>   <!--contenedor para el titulo-->
            <h1 class="text-center text-decoration-underline">
                Historial De Inventario
            </h1>
        </div>
        <br>
        <br>
        <br>
        <div class="col-xs-12 col-md-5">    <!--columna para la lista de fechas-->
            <div>
                <h3 class="text-center">
                    Registros: 
                </h3>

                <div class=" d-flex  justify-content-center">   <!--contenedor de la tabla de productos-->
                    <div class="col-6 alturaTabla2">     <!--altura y configuración de una sola columna de la tabla-->
                        <table class="table table-success table-responsive table-striped table-hover">
                            <thead class="table-success">
                                
                            </thead>
                            <tbody class="text-center"> <!--cuerpo de la tabla-->
                              <!--tr significa fila -->
                              <!--td significa columnas-->
                              <!--h4 para hacer la letra en negrilla y de mayor tamaño-->
                                <tr>  
                                    <td>
                                        <h4 class="cursorMano">
                                          5/2/2024
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <h4 class="cursorMano">
                                        30/4/2024
                                      </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <h4 class="cursorMano">
                                        13/5/2024
                                      </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <h4 class="cursorMano">
                                        20/7/2024
                                      </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <br>
        <br>
        <br>
        </div>
        <div class="col-xs-12 col-md-5"> <!--columna para la lista de datos-->
            <h3 class="text-center">
                Datos:
            </h3>

            <div class=" d-flex  justify-content-center">   <!--contenedor de la tabla de productos-->
                <div class="col-6  alturaTabla3 ">     <!--altura y configuración de una sola columna de la tabla-->
                    <table class="table table-primary table-responsive table-striped table-hover">
                        <thead class="table-primary">
                            <!--titulos de la tabla de datos-->
                            <th>
                                <h4>
                                    Nombre
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    Fecha Compra
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    Precio Proveedor
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    Cantidad(Kg/Und)
                                </h4>
                            </th>
                        </thead>
                        <tbody class="text-center"> <!--cuerpo de la tabla-->
                          <!--tr significa fila -->
                          <!--td significa columnas-->
                          <!--h4 para hacer la letra en negrilla y de mayor tamaño-->
                            <tr>  
                                <td>
                                    <h4>
                                      Tomate    
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        5/2/2024
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        120.000
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        6
                                    </h4>
                                </td>
                            </tr>
                            <tr>  
                                <td>
                                    <h4>
                                        Limón
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        5/2/2024
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        30.000
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        15
                                    </h4>
                                </td>
                            </tr>
                            <tr>  
                                <td>
                                    <h4>
                                      Papa    
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        5/2/2024
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        150.000
                                    </h4>
                                </td>
                                <td>
                                    <h4>
                                        12
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="espaciadoDiv2">   <!--div vacio para separar el contenido de la pagina y el footer-->
    </div>
</body>