<body class="bg-image4">
    <div class="espaciadoDiv2">
    </div>
        <!--Texto de bienvenida a opciones de inventario-->
        <div class=" d-flex  align-items-center mt-5 text-black card shadow-sm opacity-75 alturaContenedor">  <!--Contenedor con estilos -->
            <div class="card-body justify-content-center opacity-100">  <!--div para agregar el mensaje de bienvenida-->
                <h1 class="text-center">
                    Bienvenido, Actualiza
                </h1>
                <h1 class="text-center">
                    Tu Inventario 
                </h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="bg-light" >   <!--contenedor principal-->
            <div class="d-flex justify-content-center">   
                <h1 class="text-decoration-underline text-black ">  <!--titulo del contenido-->
                    Actualizar Inventario
                </h1>
            </div>
            <br>
            <br>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()"> 
            <div class=" d-flex  justify-content-center">   <!--contenedor de la tabla de productos-->
                    <div class="col-12 col-md-6">     <!--altura y configuración de una sola columna de la tabla-->
                        <table class="table table-warning table-responsive table-striped table-hover">
                            <thead class="table-dark">
                                <th>
                                    <h4>Selecciona solo 1 producto</h4>
                                </th>
                                <th class="text-center">  <!--cabeza de la tabla-->
                                    <h4>Lista de Productos</h4>       <!--titulo de la tabla-->
                                </th>
                                <th>
                                    <h4 class="text-center">N° Lote</h4>
                                </th>
                            </thead>
                            <tbody class="text-center"> <!--cuerpo de la tabla-->
                            <!--tr significa fila -->
                            <!--td significa columnas-->
                            <!--h4 para hacer la letra en negrilla y de mayor tamaño-->
                                <tr *ngFor="let inv of inventarioFiltrado">  
                                    <td>
                                        <input class="form-check-input checkbox-grande" type="checkbox" (change)="seleccionarProducto(inv.id_lote__id_Producto__id)">
                                    </td>
                                    <td>
                                        <h4>{{inv.id_lote__id_Producto__nombre}}</h4>
                                    </td>
                                    <td>
                                        <h4>{{inv.id_lote__numero_lote}}</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <!--Espacio entre lista de productos y los imputs-->
            <br>
            <br>
            <br>

                <div class="anchoContenedorImput ">   <!--contenedor para los inputs-->
                    <div class="row">  <!--div para la fila 1 de inputs-->
                        <div class=" col-sm-6">   <!--definimos una columna responsive-->
                            <h2 class="text-center ">
                                Cantidad 
                            </h2>
                            <input class="form-control imput " type="text" placeholder="unidad/lb" formControlName="cantidad"> <!--genero el input para ingresar texto-->
                        </div>
                        <div class="col-sm-6" > <!--definimos una columna responsive-->
                            <h2 class="text-center ">
                                Precio Proveedor
                            </h2>
                            <input class="form-control imput " type="text" placeholder="precio" formControlName="precio_compra">  <!--genero el input para ingresar texto-->
                        </div>
                        <div class=" col-sm-6">   <!--definimos una columna responsive-->
                            <h2 class="text-center ">
                                Unidad de Medida
                            </h2>
                            <select class="form-select imput text-center" aria-label="" formControlName="unidad_medida">
                                <option selected>Trae en Kg o Und</option>
                                <option value="Und">unidad</option>
                                <option value="Kg">kilogramos</option>
                              </select>
                        </div>
                        
                        <div class="  col-sm-6">    <!--definimos una columna responsive-->
                            <h2 class="text-center ">
                                Proveedor
                            </h2>
                            <input class="form-control imput" type="text" placeholder="proveedor" formControlName="proveedor">  <!--genero el input para ingresar texto-->
                        </div>
                    </div>
                    <br>    
                    <div class="row">   <!--Div para la segunda fila de inputs-->
                        <div class="  col-sm-6">    <!--definimos una columna responsive-->
                            <h2 class="text-center ">
                                Estado
                            </h2>
                            <select class="form-select imput text-center" aria-label="Default select example" formControlName="estado">
                                <option selected>Como se encuentra el producto</option>
                                <option value="Verde">Verde</option>
                                <option value="Pinton">Pinton</option>
                                <option value="Maduro">Maduro</option>
                              </select>
                        </div>
                        <div class="col-sm-6"> <!--div vacio en caso de tener que agregar otra colmna-->
                            <h2 class="text-center ">
                                Fecha Rotación
                            </h2>
                            <input id="fechaCompra" class="form-control w-75 mb-3 text-center imput mx-5" type="date" placeholder="Fecha" formControlName="fecha_Rotacion"> <!--ingresar texto-->
                        </div>
                    </div>
                    <br>    <!--espacios  pequeños para separar-->
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <div>
                    <div class="row"> <!--div para hacer agregar los botones -->
                        <div class="col-6 d-flex justify-content-center">   <!--definimos una columna responsive-->
                            <button id="btnActualizarProducto" class="btn btn-danger"  type="submit">   <!--genera un boton con estilo de bootstrap-->
                                <h3>
                                    Actualizar Producto
                                </h3>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">   <!--definimos una columna responsive-->
                            <button class="btn btn-success">    <!--genera un boton con estilo de bootstrap-->
                                <a class="decorationNone text-white" routerLink="/">
                                    <h3>Consultar Inventario</h3>
                                </a>
                            </button>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </form>
            
        </div>
    <div class="espaciadoDiv2">   <!--div vacio para separar el contenido de la pagina y el footer-->
    </div>
</body>
